/Design_Patterns_states/gui_test/MainFrame.cpp
/Design_Patterns_states/gui_test/MainFrame.h
/Design_Patterns_states/gui_test/gui_test.project
/Design_Patterns_states/gui_test/main.cpp
/Design_Patterns_states/gui_test/win_resources.rc
/Design_Patterns_states/gui_test/wxcrafter.cpp
/Design_Patterns_states/gui_test/wxcrafter.h
/Design_Patterns_states/gui_test/wxcrafter.wxcp
/Design_Patterns_states/gui_test/wxcrafter_bitmaps.cpp
